{% extends "base.html" %}

{% block title %}店舗一覧画面{% endblock %}
{% block content %}

<h3>店舗一覧</h3>
<table class="table" border="1">
    <thead>
        <tr>
            <th>店舗名</th>
            <th>画像</th>
            <th>概要</th>
        </tr>
    </thead>
    {% for restaurant in object_list %}
    <tr>
        <td>{{ restaurant.name }}</td>
        <td><img src="{{ restaurant.image.url }}" style="width:180px; height:auto;"></td>
        <td>営業時間<br>
            {{ restaurant.start_at }}~{{ restaurant.end_at }}<br>
            価格帯：{{ restaurant.cost }}~<br>
            住所：〒{{ restaurant.post_code }}<br>
            {{ restaurant.address }}<br>
            TEL:{{ restaurant.tel }}
        </td>
    </tr>
    {% endfor %}
</table>
{# ページネーション #}
{{ page_obj.number }} / {{page_obj.paginator.num_pages }} ページ<br>

{% if page_obj.has_previous %}
<a href="?page=1">&laquo; 先頭</a>
<a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">次へ</a>
<a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
{% endif %}

{% endblock %}